stages:
  - build


before_script:
  - echo "$DOCKER_REGISTRY_PASS" | docker login $DOCKER_REGISTRY --username $DOCKER_REGISTRY_USER --password-stdin

{% for version, url in releases %}
build_headless:{{ version }}:
  image: docker:cli
  services:
    - docker:dind
  stage: build
  script:
    - docker build --pull -t florian0/ghidra-headless:{{ version }} --build-arg URL={{ url }} ghidra-headless/
{%- for tag in tags[version] %}
{%- if not tag == version %}
    - docker image tag florian0/ghidra-headless:{{ version }} florian0/ghidra-headless:{{ tag }}
{%- endif -%}
{% endfor %}
    - docker push --all-tags florian0/ghidra-headless
{% endfor %}

{% for version, url in releases %}
build_server:{{ version }}:
  image: docker:cli
  services:
    - docker:dind
  stage: build
  needs:
    - build_headless:{{ version }}
  script:
    - docker build --pull -t florian0/ghidra-server:{{ version }} --build-arg GHIDRA_VERSION={{ version }} ghidra-server/
{%- for tag in tags[version] %}
{%- if not tag == version %}
    - docker image tag florian0/ghidra-server:{{ version }} florian0/ghidra-server:{{ tag }}
{%- endif -%}
{% endfor %}
    - docker push --all-tags florian0/ghidra-server
{% endfor %}
